.sidebar{
    width:260px;
    min-height:100vh;
    background:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    border-right:1px solid #e5e7eb;
    box-shadow:0 5px 15px rgba(0,0,0,.04);
}

.logo-section{
    display:flex;
    align-items:center;
    gap:15px;
    padding:30px 25px;
}

.logo-circle{
    width:48px;
    height:48px;
    border-radius:50%;
    background:#4F46E5;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    font-weight:bold;
}

.logo-section h2{
    font-size:20px;
    color:#222;
}

.logo-section span{
    color:#777;
    font-size:13px;
}

.menu{
    display:flex;
    flex-direction:column;
    padding:10px;
    gap:8px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px 18px;
    border-radius:12px;
    color:#555;
    transition:.25s;
    font-weight:500;
}

.menu-item:hover{
    background:#EEF2FF;
    color:#4F46E5;
}

.menu-item.active{
    background:#4F46E5;
    color:white;
}

.menu-item svg{
    font-size:18px;
}

.logout{
    padding:20px;
}

.logout button{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
    border:none;
    background:#EF4444;
    color:white;
    border-radius:12px;
    padding:14px;
    font-size:15px;
    transition:.3s;
}

.logout button:hover{
    background:#DC2626;
}