.stats-card{

display:flex;

align-items:center;

justify-content:space-between;

background:#fff;

padding:24px;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.05);

transition:.3s;

cursor:pointer;

}

.stats-card:hover{

transform:translateY(-5px);

box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.stats-icon{

width:65px;

height:65px;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

}

.stats-content{

text-align:right;

}

.stats-content h4{

font-size:15px;

color:#64748B;

margin-bottom:8px;

font-weight:500;

}

.stats-content h2{

font-size:34px;

color:#1E293B;

}