.dashboard-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

margin-bottom:30px;

}

.chart-card{

background:white;

padding:25px;

border-radius:15px;

margin-top:25px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.primary-btn{

background:#2563EB;

color:white;

padding:12px 24px;

border:none;

border-radius:8px;

cursor:pointer;

}

.secondary-btn{

background:#10B981;

color:white;

padding:12px 24px;

border:none;

border-radius:8px;

cursor:pointer;

}