.recent-card{

margin-top:35px;

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.05);

}

.recent-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.recent-header h2{

font-size:22px;

color:#1E293B;

}

.priority{

padding:6px 14px;

border-radius:30px;

font-size:13px;

font-weight:600;

}

.priority.low{

background:#DCFCE7;

color:#15803D;

}

.priority.medium{

background:#FEF3C7;

color:#B45309;

}

.priority.high{

background:#FEE2E2;

color:#B91C1C;

}

.priority.critical{

background:#7F1D1D;

color:white;

}