.login-page{

height:100vh;

display:grid;

grid-template-columns:55% 45%;

background:#F4F7FB;

}

.login-left{

background:linear-gradient(135deg,#4F46E5,#6366F1);

display:flex;

justify-content:center;

align-items:center;

padding:60px;

color:white;

}

.overlay{

max-width:500px;

}

.overlay h1{

font-size:55px;

font-weight:800;

margin-bottom:15px;

}

.overlay h2{

font-size:30px;

margin-bottom:20px;

}

.overlay p{

font-size:18px;

line-height:1.8;

opacity:.9;

}

.login-right{

display:flex;

justify-content:center;

align-items:center;

}

.login-card{

background:white;

width:430px;

padding:45px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.login-card h2{

font-size:32px;

margin-bottom:10px;

}

.login-card>p{

color:#777;

margin-bottom:35px;

}

.input-group{

display:flex;

align-items:center;

gap:15px;

padding:14px 18px;

border:1px solid #ddd;

border-radius:12px;

margin-bottom:20px;

}

.input-group svg{

color:#4F46E5;

font-size:18px;

}

.input-group input{

border:none;

outline:none;

width:100%;

font-size:15px;

background:transparent;

}

.bottom-link{

margin-top:25px;

text-align:center;

}

.bottom-link a{

margin-left:8px;

font-weight:600;

color:#4F46E5;

}

.bottom-link a:hover{

text-decoration:underline;

}

@media(max-width:900px){

.login-page{

grid-template-columns:1fr;

}

.login-left{

display:none;

}

.login-card{

width:90%;

}

}